* {
  box-sizing: border-box;
}
.pic {
  width: 300px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.content {
  width: 500px;
  display: flex;
  flex-wrap: nowrap;
}

.slidebox > * {
  border: 1px solid black;
  width: 500px;
}
button {
  width: 50px;
  z-index: 5;
}